<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="CONSOLE_LOG" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="WARNING" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-4p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="FILE_APPENDER_ERROR" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1KB" />
        <param name="maxBackupIndex" value="2" />
        <param name="file" value="slf4j_log4j/target/logfile_error.log" />
        <param name="Threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="FILE_APPENDER_DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="5KB" />
        <param name="maxBackupIndex" value="2" />
        <param name="file" value="slf4j_log4j/target/logfile_debug.log" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p [%c] %m%n" />
        </layout>
    </appender>
    
    <category name="deeplay.debug_pack">
        <priority value="debug"/>
        <appender-ref ref="FILE_APPENDER_DEBUG"/>
    </category>

    <category name="deeplay.error_pack">
        <priority value="error"/>
        <appender-ref ref="FILE_APPENDER_ERROR"/>
    </category>

    <category name="deeplay">
        <appender-ref ref="FILE_APPENDER_DEBUG"/>
    </category>

</log4j:configuration>